<h2>Salary Settings</h2>

@if (successMessage) {
  <p class="success-message">
    {{ successMessage }}
  </p>
}

<form [formGroup]="salaryForm" (ngSubmit)="saveSalary()">
  <label>Monthly Salary *</label>

  <input type="number" formControlName="salary" placeholder="Select Salary" />

  @if (salaryForm.get("salary")?.touched && salaryForm.get("salary")?.invalid) {
    <small> Salary is required and must be greater than 0 </small>
  }

  <button class="submit" type="submit">Save Salary</button>
  <h3>Monthly Salary</h3>

 @if (savedSalary) {
  <div class="saved-salary">
    ₹ {{ savedSalary }}
  </div>
}
</form>
