<h2>Expense Management</h2>

<app-expense-form
  [expense]="selectedExpense"
  (expenseAdded)="onExpenseAdded($event)"
>
</app-expense-form>

<hr />

<div class="filter-container">

  <input
    type="text"
    placeholder="Search by title"
    [(ngModel)]="searchText">

  <select [(ngModel)]="selectedCategory">
    <option value="All">All Categories</option>
    <option value="Food">Food</option>
    <option value="Travel">Travel</option>
    <option value="Shopping">Shopping</option>
    <option value="Bills">Bills</option>
    <option value="Entertainment">Entertainment</option>
  </select>

  <label>From Date</label>
  <input type="date" [(ngModel)]="fromDate">

  <label>To Date</label>
  <input type="date" [(ngModel)]="toDate">

  @if (searchText || selectedCategory !== "All" || fromDate || toDate) {
    <button type="button" (click)="clearFilters()">
      Clear Filters
    </button>
  }

</div>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Payment Method</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    @for (expense of filteredExpenses; track expense.id) {
      <tr>
        <td>{{ expense.title }}</td>

        <td>
          {{
            expense.category === "Others"
              ? expense.customCategory
              : expense.category
          }}
        </td>

        <td>₹ {{ expense.amount }}</td>

        <td>{{ expense.date }}</td>

        <td>{{ expense.paymentMethod }}</td>
        <td>
          <button class="edit-btn" (click)="editExpense(expense)">
  Edit
</button>

<button class="delete-btn" (click)="deleteExpense(expense.id)">
  Delete
</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (budgetAlertMessage) {
  <div class="alert">
  <strong>{{ budgetAlertMessage }}</strong>
</div>

}
