<div class="budget-table">
  <h3>Current Budget Limits</h3>

  @if (successMessage) {
    <p class="success-message">
      {{ successMessage }}
    </p>
  }

  <form [formGroup]="budgetForm" (ngSubmit)="saveBudgets()">
    <div>
      <label>Food Budget *</label>

      <input
        type="number"
        formControlName="food"
        placeholder="Select Food budget"
      />

      @if (budgetForm.get("food")?.touched && budgetForm.get("food")?.invalid) {
        <small> Food budget is required </small>
      }
    </div>

    <div>
      <label>Travel Budget *</label>

      <input
        type="number"
        formControlName="travel"
        placeholder="Select Travel budget"
      />

      @if (
        budgetForm.get("travel")?.touched && budgetForm.get("travel")?.invalid
      ) {
        <small> Travel budget is required </small>
      }
    </div>

    <div>
      <label>Shopping Budget *</label>

      <input
        type="number"
        formControlName="shopping"
        placeholder="Select Shopping budget"
      />

      @if (
        budgetForm.get("shopping")?.touched &&
        budgetForm.get("shopping")?.invalid
      ) {
        <small> Shopping budget is required </small>
      }
    </div>

    <div>
      <label>Bills Budget *</label>

      <input
        type="number"
        formControlName="bills"
        placeholder="Select Bills budget"
      />

      @if (
        budgetForm.get("bills")?.touched && budgetForm.get("bills")?.invalid
      ) {
        <small> Bills budget is required </small>
      }
    </div>

    <div>
      <label>Entertainment Budget *</label>

      <input
        type="number"
        formControlName="entertainment"
        placeholder="Select Entertainment budget"
      />

      @if (
        budgetForm.get("entertainment")?.touched &&
        budgetForm.get("entertainment")?.invalid
      ) {
        <small> Entertainment budget is required </small>
      }
    </div>

    <button type="submit">Save Budgets</button>
  </form>

  <hr />

  <h3>Current Budget Limits</h3>

  <table border="1">
    <thead>
      <tr>
        <th>Category</th>
        <th>Monthly Limit</th>
      </tr>
    </thead>

    <tbody>
      @for (budget of budgets; track budget.category) {
        <tr>
          <td>{{ budget.category }}</td>

          <td>₹ {{ budget.monthlyLimit }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<app-salary-settings></app-salary-settings>
